* {
  font-family: helvetica;
}

.div--board{
  display: flex;
  flex-wrap: wrap;

  height: 75vh;
  width: 75vh;
}

.div--tile{
  flex: 1 0 33%;

  height: 33%;
  width: 33%;

  background-color: white;
  border: black solid 2px;

}


.span--marker{
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  font-size: 25rem;

}